<template>
  <div class="component">
    <div class="heading">About.vue</div>
    <div class="comment">
      This component will contain all of my professional information. This
      includes my resume (page and pdf) as well as my biography.
    </div>

    <Resume />
    <ResumePDF />
  </div>
</template>

<script>
import Resume from "./Resume.vue";
import ResumePDF from "./ResumePDF.vue";

export default {
  name: "About",
  props: {
    msg: String,
  },
  components: {
    Resume,
    ResumePDF,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
