<template>
  <div class="component">
    <div class="heading">Portfolio.vue</div>
    <div class="comment">
      This component will serve primarily as a showcase for CSS. It's a general
      cover page with eyecandy and links to other pages of the site.
    </div>

  </div>
</template>

<script>
export default {
  name: "About",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
