<template>
  <div class="component">
    <div class="heading">PDF.vue</div>
    <a href="#">Download PDF</a>
    <div class="comment">
      This component generates a PDF resume based on passed in data
      <strong>Download PDF</strong> link will automatically generate a PDF from
      my professional information.
    </div>
  </div>
</template>

<script>
export default {
  name: "ResumePDF",
  props: {
    msg: String,
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
