<template>
  <div class="component">
    <div class="heading">App.vue</div>
    <div class="comment">
      This is the main page. It will add in the navigation component, and the
      currently viewed component
    </div>
    <Navigation />
    <div class="todo">
      Future home of the router view
      <Portfolio />
      <About />
    </div>
    <Footer />
  </div>
</template>

<script>
import Navigation from "./components/Navigation.vue";
import Portfolio from "./components/Portfolio.vue";
import About from "./components/About.vue";
import Footer from "./components/Footer.vue";

export default {
  name: "App",
  components: {
    Portfolio,
    Navigation,
    About,
    Footer,
  },
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}
.todo {
  margin: 20px;
  border: 2px dashed skyblue;
}
.component {
  margin: 20px;
  border: 2px solid goldenrod;
}
.heading {
  font-size: 24px;
  font-weight: bolder;
}
.comment {
  color: black;
}
</style>
